@use 'sass:map';
@use '@angular/material' as mat;

$app-primary: (
  10: #c0c0cc,
  20: #9696aa,
  30: #6b6b87,
  40: #4c4c6e,
  50: #2c2c54,
  60: #27274d,
  70: #212143,
  80: #1b1b3a,
  90: #101029,
  A100: #2365ff,
  A200: #0045e5,
  A400: #003dcb,
  A700: #0038bc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-accent: (
  10: #feeec1,
  20: #fde298,
  30: #fcd66f,
  40: #fcce50,
  50: #fbc531,
  60: #fabf2c,
  70: #fab825,
  80: #f9b01f,
  90: #f8a313,
  A100: #ffffff,
  A200: #ffe9d6,
  A400: #ffdcbd,
  A700: #ffd4ae,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-warning: (
  10: #ecc4bf,
  20: #e09c95,
  30: #d3746b,
  40: #c9574b,
  50: #c0392b,
  60: #ba3326,
  70: #b22c20,
  80: #aa241a,
  90: #9c1710,
  A100: #ff94a4,
  A200: #ff576f,
  A400: #ff3e5a,
  A700: #ff2e4d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$app-error: (
  dark: #e00034,
  light: #ef8099,
  lightest: #f7bfcc,
  contrast: (
    dark: #fff,
    light: #fff,
    lightest: #fff,
  ),
);
